<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>score analyzer</title>
    <link rel="stylesheet" href="../static/style1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <style>
      .button{
        outline: none;
        border: none;
        padding: 5px 30px;
        border-radius: 5px;
        color: white;
        background:#1b7903;
      }
    </style>
  </head>
  <body>

    <section>
      <input type="checkbox" id="check">
      <header>
        <img src="../static/images/logo1.png" height="90px" width="90px" alt="FireP">
        <div class="navigation">
          <a href="#">Home</a>
          <a href="#about">About</a>
          <a href="/register">signup</a>
          <a href="/login">login</a>
        </div>
        <label for="check">
        <i class="fas fa-bars menu-btn"></i>
        <i class="fas fa-times close-btn"></i>
        </label>
      </header>
      <div class="content" style="margin-top: 8%;">
        <div class="info">
          <h2 style="color:rgb(77, 226, 40);">Students performance analysis<br><span></span></h2>
          <p style="color:red">Predicting the performance of students using algorithms of machine learning <br>
            and the analysis through the dataset that contain subjects scores.</p>
            <a href='#about' class="button">More info</a>
        </div>
      </div>
    </section>

    <section id="about">
      <h2 style="color:rgb(77, 226, 40);">About</h2><br><br>
      <p class="about-content" style="text-align: center; color:red;">
        There are several approaches you can take to analyze student performance using machine learning algorithms.<br>
        One way is to use predictive models that analyze student data to predict their performance in future assessments.<br>
        This can be done by collecting data on student demographics, previous test scores, grades, and other relevant factors.<br>
        Using this data, we can then use machine learning algorithms to develop predictive models that provide insights into<br>
        student performance in future assessments.
      </p>
      <br><br><br><br>
      <p class="copyright" style="color:rgb(77, 226, 40); text-align:center; font-style:italic">&copy;by Ripunjay Choudhury</p>
    </section>
    

  </body>
</html>

